.container {
  padding: 10px;
}

.element {
  display: inline-block;
  background-color: white;
  color: #0275d8;
  border: solid 1px #0275d8;
  border-radius: 5px;
  min-width: 50px;
  min-height: 50px;
  text-align: center;
  padding: 10px;
}

.progress {
  margin: 5px;
}

.healthBar {
  min-height: 15px;
  width: 100%;
  border-radius: 5px
}

.healthBarContainer {
  background-color: lightgray;
  border-radius: 5px;
  margin: 5px;
}